*{
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}


form {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    border:  2px solid gray;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    transition: 0.4s;

}
button:hover {
    filter: brightness(0.8);
}

.resposta {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    width: 400px;
}

.resposta p {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}